/* 
selector{
    propiedad: valor;
} 

tipos de selectores:

    UNIVERSAL (PARA TODOS LOS ELEMENTOS) = *
    DE TIPO = h1,h2,button,etc
    CLASE = .nombreClase (el nombre de la clase que agregue con el atributo class="")
    ID = #nombreID ---> USAR UN UNICO ID POR TAG EN HTML
    ATRIBUTO = [nombreAtributo="valor"]
    DESCENDIENTE = tag/clase tag      ---> el de la izquierda contiene(es padre) del de la derecha
    PSEUDOCLASE = tag:evento  ----> evento puede ser por ejemplo "hover" que detecta cuando el mouse esta sobre el elemento
                  tambien se puede mezclar con la descendiente = tag/clase tag:evento
*/

/* 
    JERARQUIA DE IMPORTANCIA
    --------------
    !important
    --------------
    estilo en linea(modificarlo desde el propio html)
    --------------
    ID
    --------------
    clases
    pseudo-clases
    atributos
    --------------
    elementos
    pseudo-elementos

*/

.Titulito-2{
    color: chocolate;
}

#elemento{
    color: chartreuse;
}

[soyUnAtributo="si"]{
    color: rebeccapurple;
}

h2 p{
    color: blue;
}

b:hover{
    color: red;
}
