*{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 100;
}

/* 
    ?FLEXBOX: TIENE UN SISTEMA DE DOS EJES

    !AL contenedor que le agrego DISPLA:FLEX, se convierte automaticamente en un
    !contenedeor que se comporta como un BLOQUE, pero sus hijos(SOLO SUS HIJOS DIRECTOS)
    !se vuelven FLEX ITEMS y se distribuyen por defecto en el MAIN AXIS.

        *MAIN AXIS: eje X
!                main-start ==> main-end
        
        *CROSS AXIS: eje Y
!            cross-start
!            cross-end

*---------------------------------------------------------------------------------------------------------*
                                !PROPIEDADES DEL FLEX-CONTAINER


        ?FLEX-DIRECTION: cambia la direccion del MAIN AXIS y por consecuente del CROSS AXIS
                *ROW(DEFECTO) ==> Izquierda a Derecha
                *ROW-REVERSE ==> Derecha a Izquierda
                *COLUMN ==> Arriba a Abajo
                *COLUMN-REVERSE ==> Abajo a Arriba

        ?FLEX-WRAP: hace que se respeten los tamaños de los FLEX ITEMS si se achica el esa=pacio
            *WRAP: hace lo de arriba xd
            *NO-WRAP: no hace lo ade arriba, por lo qeu se deforman los items
            *WRAP-REVERSE: lo del wrap pero al reves xd

    ?FLEXFLOW: FORMA ABREVIADA DE DAR VALORES A FLEX-DIRECTION Y FLEX-WRAP
    *           flex-flow: flex-direction flex-wrap

                        !ALINEAMIENTO EN MAIN AXIS


    ?JUSTIFY-CONTENT: FORMAS DE CENTRAR LOS FLEX ITEMS
        *CENTER: los centra JUNTOS
        
        *SPACE-AROUND: centra aplicando un MARGEN entre items
                        !DEJA UN MARGEN EN LOS LATERALES DISTINTO AL QUE ESTA ENTRE LAS CAJAS
        
        *SPACE-BETWEEN: trata de dejar el MAYOR ESPACIO ENTRE ITEMS

        *SPACE-EVENLY: centra aplicando un MARGEN IGUAL entre items
                        !NO TIENE EL PROBLEMA QUE TIENE SPACE-AROUND
         
                        !ALINEAMIENTO EN CROSS AXIS

    ?ALIGN-ITEMS y ALIGN-CONTENT: sirven para centrar y tienen las mismas propiedades solo que 
    ?                             la de ITEMS se usa SOLO en UNA LINEA DE FLEX ITEMS y la otra cuando tengo MAS DE UNA

        *STRETCH(POR DEFECTO): lo centra pero estira TODOS los items a lo largo del CROSS AXIS

        *FLEX-START: lo pone en el INICIO del CROSS AXIS(arriba) NO LOS ESTIRA

        *CENTER: centra verticalmente

        *FLEX-END: lo pone en el FINAL del CROSS AXIS(abajo)

        *BASELINE: sirve si por ejemplo usas un wrap reverse para qeu no te cague el efecto y te suba todo
                  *si por ejemplo queres que este abajo(como el flex-end)

*/

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  
    justify-content: space-evenly;
  
    height: 100vh;
    align-items: baseline;
}

.flex-item {
    background: #248;
    color: #fff;
    margin: 5px;
    height: 120px;
    width: 120px;
    text-align: center;
}

.orange {
    background: orange;
}

.green {
    background: green;
}