*{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body {
    padding: 15px;
}

/*
    ?PROPIEDADES DE GRID CONTAINER

        *grid-template-rows: cantidad filas;
        *grid-template-columns: cantidad columnas
        !Para que las medidas sean dinamicas en vez de px uso "fr"

        *grid-row-gap: espacio entre filas
        *grid-column-gap: espacio entre columnas
        *grid-gap: shorthand de los de arriba

    ?PROPIEDADES DE GRID ITEM

        *grid-column: inicio / fin
            !el "inicio" es contando desde la primer linea de la grilla
            !el "fin" es la ultima linea de la grilla del lado derecho
            
        *grid-row: inicio / fin
            !el "inicio" es contando desde la primer linea de la grilla(arriba de todo)
            !el "fin" es la ultima linea de la grilla
        
        *SPAN ==> ayudita que me permite decirle ya no de que linea a que linea
        *         va el grid-row/grid-column sino que ahora puedo decirle cuantas
        *         columnas o filas quiero que ocupe

    ?REPEAT
        *ME SIRVE PARA REPETIR UNA O VARIAS MEDIDAS AL MOMENTO DE USAR EL
        *GRID-TEMPLATE-ROW Y EL GRID-TEMPLATE-COLUMN
        *repeat(cuanto repite, medida/s)

    ?GRID EXPLICITO VS GRID IMPLICITO
        
        *EXPLICITO ==> EL QUE PROGRAMO CON TODO LO DE ARRIBA
        *IMPLICITO ==> TODO LO QUE QUEDA FUERA DE LA GRILLA QUE PUSIMOS EN EL EXPLICITO
    
    ?GRID IMPLICITO
        
        *grid-auto-rows: cuanto va a medir la fila que se cree(NO CANTIDAD)
        *grid-auto-columns: cuanto va a medir la columna que se cree(NO CANTIDAD)
    
        *grid-auto-flow: COLUMN o ROW o DENSE
        *                (como quiero que se creen los items implicitos)
        *                Dense => trata de que no queden huecos vacios

    ?GRID DINAMICO
        !VAN DENTRO DEL REPEAT
        * min-content => es como el fr pero se ajusta al contenido de la caja(la palabra mas grande determina el ancho)
        * max-content => es como el fr pero se ajusta al contenido de la caja(la frase determina el ancho)
        * minmax(tamañoMin, tamañoMax) => me dice lo minimo y maximo que puede medir algo 
        !   USO PARTICULAR: minmax(min-content, tamañoMax)
        * auto-fill => rellena las cajas si hay espacio disponible
        * auto-fit => parecido a auto-fill, pero en caso de que no haya mas cajas, ajusta el tamaño de las que estan

    ?ALINEACION Y CONTROL DE FLUJO

        !PARA LOS ITEMS DENTRO DE EL GRID CONTAINER
        * justify-items HORIZOTAL => mismas opciones que en justify-content de flexbox
        * align-items VERTICAL => mismas opciones que en align-items de flexbox

        !PARA LAS COLUMNAS Y FILAS MISMAS DEL CONTAINER
        * justify-content COLUMNAS => igual que lo de arriba pero en COLUMNAS
        * align-content FILAS => igual que lo de arriba pero en FILAS
        !TIENEN COMO OPCION TAMBIEN(A DIFERENCIA DE LOS ITEMS):
        !   * space-around
        !   * space-between
        !   * space-evenly

*/

.grid-container {
    display: grid;
    /* grid-template-rows: 150px 150px 150px; */

    /* *En vez de decirle que me ponga 4 columnas, uso el autofill
    grid-template-columns: repeat(4,minmax(120px,1fr)); 
    */
    /* grid-template-columns: repeat(auto-fill,minmax(120px,1fr));  */

    grid-template-columns: repeat(3,minmax(120px,1fr)); 
    grid-template-rows: repeat(3, 200px);

    grid-auto-rows: 250px;
    grid-auto-flow: dense;

    border: 2px solid #000;
    background: #333;
    /* grid-gap: 10px; */
    justify-items: center;
    align-items: center;

    justify-content: space-evenly;
    align-content: space-evenly;
}

.grid-item {
    border: 1px solid #000;
    background: #ccc;
    font-size: 30px;
    padding: 50px;
}

/* *Agarro al primer hijo de la clase */
/* .grid-item:first-child {
    background-color: #f00;
    grid-column: 1 / span 2;
    grid-row: 1/3;
} */

/* *con nth-child(numeor de hijo) agarro el hijo que quiera */
/* .grid-item:nth-child(2) {
    background: #01c;
    grid-column: 3 / 5;
} */