/* 
    Cascada (toma el ultimo valor en orden descendete)
    *Solo aplica a modificaciones en la misma jerarquia(id-id, clase-clase,etc)
    ejemplo:

    h1{                     .clase-h2{
        color: red;             color: red;
    }                       }

    h1{                     .clase-h2{
        color: blue;            color: green
    }                       }   

    *****Al final a h1 le queda un color blue*****
    *****Al final a los tags que tengan la clase "clase-color-red" lea queda un color green*****
----------------------------------------------------------------------
    JERARQUIA DE IMPORTANCIA(se aplica cuando son distintos tipos)
    --------------
    !important  (se escribe !important seguido del valor de la propiedad sin ";")
    --------------
    estilo en linea(modificarlo desde el propio html)
    --------------
    ID
    --------------
    clases
    pseudo-clases
    atributos
    --------------
    elementos
    pseudo-elementos

    ejemplo: h1 con clase "clase-color-red"

    .clase-color-red{
    color: red;
    }

    h1{
        color: blue;
    }

    *****Le sigue quedando el color red por la jerarquia de clase******
*/

/* Este le gana a la clase y al elemnto h1 */
#id-green{
    color: green;
}

/* clase */
.clase-color-red{
    color: red;
}

/* pseudo elemento */
h1{
    color: blue;
}

/* !IMPORTANT PAPA */
h1{
    color: blue !important
}

/* 
    METODOLOGIA BEM: FORMA DE ORDENAR BIEN TODO EN BLOQUES Y MANEJARME CON SUS CLASES DE FORMA
    QUE PUEDO HACER USO DE LA CASCADA SIN VOLVERME PUTO

*/

.contact-form__input{
    color: red;
}

.contact-form__input--unicoYdiferente{
    color: blue;
}

/* Opcionalmente se puede seleccionar al primer hijo en particular
    PERO MEJOR USAR LO DE --nombre ES MAS COMODO
*/
.contact-form__input:first-child{
    color: aqua;
}

.contact-form__p-h2{
    color: gray;
}
