*{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

/* 
    DISPLAY: MODIFICA EL COMPORTAMIENTO MISMO DE LA CAJA

    SUS OPCIONES:

        * BLOCK: cajas que ocupan TODO el ancho
        * INLINE: cajas que SOLO ocupan lo que ocupe su CONTENIDO

        * INLINE-BLOCK: se comporta como un BLOCK pero le puedo modificar las dimensiones de las cajas
                        * permite poner un elemento al lado de otro(como el inline) *
        
        * FLEX: SE VEN DESPUES PERO SON CLAVE (se comporta como BLOCK, NO los hijos)
        
        * GRID: SE VEN DESPUES PERO SON CLAVE (se comporta como BLOCK, NO los hijos)
        

        * IGUAL TODO LO DE TABLE YA CASI NI SE USA ASI QEU QUE LA CHUPE *
        * TABLE: que se comporte como tabla (es una propiedad del eleemnto TABLE en HTML)
        
        * INLINE-TABLE: que se comporte como tabla pero en linea

        * LIST-ITEM: que se comporte como un item de lista(es la propiedad que tienen los elementos dentro de un UL o OL)

        * TABLE-CELL: que se comporte como una celda de una tabla (es como el LIST-ITEM pero para tablas)

*/

/* ?OVERFLOW: SIRVE PARA SABER QUE HACER CON EL TEXTO SOBRANTE(POR DEFECTO "VISIBLE") 

        *VISIBLE: Valor por defecto, todo el texto sobrante se ve

        *AUTO: En base a si hay texto sobrante o no, agrega un scroll si es necesario

        *SCROLL: Agrega un scroll SI O SI

        *HIDDEN: Oculta el texto sobrante

    !ES UNA SHORTHAND PROPERTY OSEA QUE TIENE:
        ?Overflow-X
        ?Overflow-Y

*/

.cajita-overflow {
    margin: auto;
    margin-top: 50px;
    width: 350px;
    height: 500px;
    border:  10px solid red;
    background: yellow;

    overflow: auto;
}


/* 
    ?PSEUDO-ELEMENTOS
    ?Los que tengan en su nombre CONTENT, NO afectan el DOM (como el OUTLINE) 

        *::first-line ==> funciona en todo lo que NO SEA INLINE
                        !MODIFICA LITERALMENTE LA PRIMER LINEA DE UN TEXTO
                        
        *::first-letter ==> funciona en todo lo que NO SEA INLINE
                        !LO MISMO QUE EN LINE PERO SOLO PARA LA PRIMER LETRA

        *::placeholder ==> modifica el placeholder de los inputs (el textito que desaparece cuando escribis)

        *::selection ==> me permite modificar como se ve la seleccion de textos(eso qeu normalmente es azul)

        !Las siguientes NO pertenecen al DOM, osea que no son seleccionables ni ocupan espacio

        *::before ==> agrega contenido ANTES que el contenido padre 

        *::after ==> lo mismo que before pero DESPUES

*/

.texto {
    padding: 20px;
}

.texto::first-letter {
    color: blue;
    font-size: 2em;
}

form {
    margin: 100px auto;
    padding: 50px;
    display: block;
    background: gray;
    width: 50%;
}

input {
    margin: 6px;
    width: 100%;
}

input::placeholder {
    color: red;
    background: yellow;
}

.texto::selection {
    color: yellow;
    background: black;
}

.texto::after {
    content: "Lol estoy despues del texto";
    font-size: 2em;
    color: red;
}



