*{
    font-family: 'Otomanopee One', sans-serif;
    font-weight: 100;
}

.nav__responsive-ul{
    /* Oculto la version responsive para activarla cuando sea necesario */
    display: none;
}

.nav{
    background-color: #48e;
}

.nav__li{
    /* *Los alineo uno al lado del otro */
    display: inline-block;
    padding: 12px;
    /* *Esto solo cambia el color del icono, porque las letras estan dentro del "a" */
    color: #fff;
}

/* *Cuando pase sobre algun elemento "a" de la clase "nav__li" le cambio el color*/
.nav__li:hover > a{
    color: #bbb;
}

/* *Lo mismo que arriba pero solo para la clase "nav__li" ya que en ella estan los iconos, asi se colorea el texto y el icono */
/* ?Lo mismo que si pusiera .nav__li > i */
.nav__li:hover{
    color: #bbb;
}

/*! El color lo tengo que aplicar al nav__li pero a la etiqueta A asi puedo cambiar el color del enlace */
.nav__li a {
    color: #fff;
    text-decoration: none;
}

/* todo lo referedo a los iconos */
.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

/* !Esto al ser del responsive puedo ponerlo dentro o fuera de la parte del "@media"
   !ya que como solo se va a ver al llegar al limite de 540px es inidistinto
*/
.nav__responsive-button-container {
    position:absolute;
    width: 100%;
    font-size: 25px;
    background: #69c;
    margin-top: -64px;
    z-index: 100;
}

.nav__responsive-button {
    /* *padding 6 arriba y abajo y 20 para los costados */
    padding: 6px 20px;
    text-align: right;
    width: 100%;
}

/* !ESTO HACE QUE AL LLEGAR A UNA RESOLUCION HORIZONTAL DE 540px SUCEDA LO QEU PONGO ADENTRO */
@media only screen and (max-width: 540px) {
    /* *Desaparezco el menu NO responsivo y activo el responsive */
    .nav__ul{
        display: none;
    }

    .nav {
        height: 37px;
        width: 100%;        
    }
    
    /* *nav que la hago block para que esten uno arriba del otro */
    .nav__responsive-ul {
        display: block;
        position: absolute;
        width: 100%;
        margin-top: 37px;
        padding-top: 27px;
        height: 37px;
    }

    .nav__li-container {
        position: relative;
        top: -1000px;
        height: calc(100vh - 64px);
        background: #9bf;
        transition: all 1s;
        z-index: 1;
        width: 85%;
        padding-top: 27px;
    }

    /* *objetos de la lista responsive */
    .nav__responsive-li {
        width: 100%;
        padding: 9px 20px;
    }

    /* *iconos responsive (lo mismo que el no responsive pero con width) */
    .nav__responsive-li i{
        box-sizing: border-box;
        text-align: center;
        margin-right: 5px;
        width: 30px;
        color: #016;
    }

    /* *letras del enlace */
    .nav__responsive-li a {
        color: #016;
        text-decoration: none;
    }

    .nav__responsive-ul:hover > .nav__li-container{
        top: -27px;
    }
}